.dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard-header-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-shrink: 0;
    display: flex;
    padding-left: 20px;
    border-bottom: 3px solid gray;
    background-color: white;
    justify-content: space-between;
}

.dashboard-create-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.dashboard-list-container {
    flex-grow: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.project-list-item {
    margin: 8px;
    padding-left: 1rem;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
}

.project-list-item-inner {
    display: flex;
    justify-content: space-between;
}

.dashboard-create-input {
    margin-bottom: 32px;
    margin-top: 8px;
}

.dashboard-create-textarea {
    min-height: 4rem;
}

#dashboard-create-form {
    display: flex;
    flex-direction: column;
    
}

#project-list-arrow {
    margin-right: .5rem;
}