.auth-layout {
    background-color: var(--background);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.auth-card {
    width: min(100%, 32rem);
    translate: 0 -4vh;
    padding: 20px;
    border: 2px solid var(--on-background);
    border-radius: 24px;
}

.auth-link {
    color: var(--primary);
}