:root {
    --background: #121212;
    --surface: #121212;

    --error: #CF6679;

    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;

    --on-primary: #000;
    --on-secondary: #000;
    --on-background: #FFF;
    --on-surface: #FFF;
    --on-error: #000;

    font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0;
    height: 100vh;
    background-color: white;
}

textarea {
    resize:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.header-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-shrink: 0;
    display: flex;
    padding-left: 20px;
    border-bottom: 3px solid gray;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.header-button-grouping {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.header-home-button-grouping {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.header-home-button-grouping button {
    margin-right: 1rem;
}

.small-icon-button {
    border: none;
    width: 3rem;
    background-color: inherit;
}

.tiny-icon-button {
    border: none;
    width: 2rem;
    background-color: inherit;
}

.centered-button {
    display: flex;
    align-items: center;
}

.small-icon {
    width: 1rem;
}

.medium-icon {
    width: 2rem;
}

.small-button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: medium;
    font-weight: bolder;
}